input {
      height: 40px;
      padding: 10px 20px;
      border: 2px solid #ccc;
      border-radius: 10px;
      width: 100%;
}

.primary-contained-btn {
      height: 40px;
      background-color: var(--primary);
      color: white;
      padding: 10px 20px;
}

.primary-outlined-btn {
      background-color: white;
      color: var(--primary);
      border: 2px solid var(--primary);
      padding: 10px 20px;
      border-radius: 10px;
}

.primary-outlined-btn:hover {
      background-color: var(--primary);
      color: white;
      transition: all 0.2s ease-in-out;
}